@import url('https://fonts.googleapis.com/css2? família= Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;   /* p/ ajudar escurecer o background */
   
}

.background {
    background: linear-gradient(0, 0, 0, 0.5;);
    background-image: url(imagem/perfil.jpg);
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    
}

header {
    display: flex;   /* p/ ficar uma ao lado do outro */
    justify-content: space-around;   /* p/ dar um espaçamento */
    max-width: 100%;   /* p/ ajudar no responssivo do site*/
    align-items: center;   /* p/ centralizar todos os itens */
    text-align: center;   /*  */
    padding-top: 1rem;
}

.cabeçalho-link {  
    display: flex;    /* p/ ficar uma ao lado do outro */
    gap: 3rem;   /* p/ dar um afastamento entre eles */
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{
    color: white;
    font-size: 12px;
}

.cabeçalho-link a:hover {
    color: #0a0dc0;   /* meu azul */
    font-size: 12px;
    transition: 0.3s all;   /* 0.3 seg. transição de uma cor p/ outra */
}


button {
    color:#0a0dc0;
    background: transparent;
    border: 1px solid #0a0dc0;
    padding: 5px;
    border-radius: 15px;   /* arredondando mínima coisa as bordas do botão (meu contato) */
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0a0dc0;
    color: white;
    transition: 0.5s;   /* tempo de uma transição de cor quando passar o mouse encima */
}

.container-text {
    padding-top: 150px;
    padding-left: 150px;
    
}

.btn {
    margin: 10px;
}

.text h3 {
    color: white;
    font-size: 20px;
}

.text h1 {
    color: white;
    margin-top: 20px;
}

.text p {
    color: white;
    font-size: 11px;
    font-weight: 300;
    margin-top: 10px;
}

.text span {
    color: #0a0dc0;
}

.redes-sociais {
    margin-top: 20px;
}

.redes-sociais a {
    color: #0a0dc0;
    padding: 10px;
    margin-top: 25px;
}

.redes-sociais a:hover {
    background-color: cornflowerblue;
    border-radius: 15px;

}





